<div class="container mx-auto p-4">
  <h1 class="text-4xl font-bold text-center mb-4">
    Dividend Portfolio
  </h1>
  <div class="container mx-auto px-4 py-8">
    <div class="bg-white rounded-lg shadow-lg p-6">
      <h1 class="text-3xl font-bold mb-6">Last 10 Added Stocks to our app</h1>
      <%= render partial: 'last_added_stocks', locals: { last_added_stocks: @last_added_stocks } %>
    </div>
  </div>
  <div class="container mx-auto px-4 py-8">
    <div class="bg-white rounded-lg shadow-lg p-6">
      <h1 class="text-3xl font-bold mb-6">Top 10 Most Added Stocks to Radar</h1>
      <%= render partial: 'most_added_stocks', locals: { most_added_stocks: @top_radar_stocks } %>
    </div>
  </div>
</div>
