<span class="cursor-pointer text-blue-600 hover:text-blue-800 inline-block min-w-16"
      data-action="click->inline-edit#edit"
      data-inline-edit-url-value="<%= radar_path(@radar) %>"
      data-inline-edit-stock-id-value="<%= stock.id %>"
      data-inline-edit-current-value="<%= stock.target_price || '' %>"
      title="Click to edit">
  <%= stock.formatted_target_price %>
</span>
