<header class="flex justify-between items-center p-4 bg-gray-800 text-white">
  <h1 class="text-xl font-bold">Dividend Portfolio</h1>
  <nav>
    <% if authenticated? %>
      <%= link_to "My Radar", radar_path, class: "ml-4" %>
      <%= link_to "Logout", session_path, data: { turbo_method: :delete }, class: "ml-4" %>
    <% else %>
      <%= link_to "Login", new_session_path, class: "ml-4" %>
    <% end %>
  </nav>
</header>
